<div style='background: #d8c3a5;'>
    <div class='container'>
        <div class='nav'>
            {{! Logo }}
            <a class='nav__logo' href='#!'>Fabook</a>

            {{! Search section }}
            <div class='nav__search'>
                <div class='nav__category'>
                    Category
                </div>
                <input
                    type='text'
                    class='nav__search-input'
                    placeholder='Nhập từ khóa'
                />
                <button class='nav__search-btn'>
                    <svg
                        class='search-icon'
                        xmlns='http://www.w3.org/2000/svg'
                        height='16'
                        width='16'
                        viewBox='0 0 512 512'
                    >
                        <path
                            d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'
                            fill='currentColor'
                        />
                    </svg>
                </button>
            </div>

            <div class='d-flex gap-4'>
                {{! Cart }}
                <div class='nav__cart'>
                    <a href='/cart' class='nav__link'>
                        <img src='/assets/img/cart_icon.svg' alt='Cart' />
                        <div class='nav__link-label'>
                            Giỏ hàng
                        </div>
                    </a>
                    {{#if isLoggedIn}}
                        {{#if cartCount}}
                            <div class="cart-mini__quantity">
                                {{cartCount}}
                            </div>
                        {{else}}
                            <div class="cart-mini__quantity d-none">
                                {{cartCount}}
                            </div>
                        {{/if}}

                        <section class="nav__cart__dropdown">
                            <h1 class="nav__cart__dropdown__heading">Giỏ hàng ({{cartCount}})</h1>
                            <ul class="nav__cart__dropdown__book-list">
                                {{#each cartBooks }}
                                    <li class="nav__cart__dropdown__book-item">
                                        <a class="nav__cart__dropdown__book-link" href="/books/{{bookId}}">
                                            <img class="thumb" src="{{image}}" alt="">
                                            <div class="info">
                                                <h2 class="heading line-clamb">{{bookName}}</h2>
                                                <div class="d-flex align-items-center">
                                                    <span class="price">{{discountedPrice}} VNĐ</span> 
                                                    
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><path opacity="1" fill="currentColor" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                                                    <span>{{quantity}}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>

                            {{!-- Cart dropdown bottom --}}
                            <div class="nav__cart__dropdown__bottom">
                                <a class="cart-btn" href="/cart">Xem giỏ hàng</a>
                            </div>
                        </section>
                    {{/if}}
                </div>

                {{! Account }}
                <div class='nav__account'>
                    {{#if isLoggedIn}}
                        <a href='#!' class='nav__link'>
                            <img class='nav__account_img' src='/assets/img/account_icon.svg' alt='Account' />
                            <div class='nav__link-label'>
                                {{username}}
                            </div>
                        </a>

                        <div class="nav__account__dropdown--logged-in">
                            <a href="#!" class="link">
                                <img class="medal" src="/assets/img/badge_icon.svg" alt="">
                                <div>
                                    <div class="heading line-clamb break-all">{{username}}</div>
                                    <p class="my-0">Thành viên Fabook</p>
                                </div>
                            </a>

                            <a href="#!" class="link">
                                <img class="icon" src="/assets/img/bill_icon.svg" alt="">
                                <span>Đơn hàng của tôi</span>
                            </a>

                            <a id="logout" href="#!" class="link">
                                <img class="icon" src="/assets/img/logout_icon.svg" alt="">
                                <span>Đăng xuất</span>
                            </a>
                        </div>
                    {{else}}
                        <a href='#!' class='nav__link'>
                            <img class='nav__account_img' src='/assets/img/account_icon.svg' alt='Account' />
                            <div class='nav__link-label'>
                                Tài khoản
                            </div>
                        </a>

                        <div class="nav__account__dropdown">
                            <a href="/login?nextUrl={{currentUrl}}" class="login">Đăng nhập</a>
                            <a href="/signup?nextUrl={{currentUrl}}" class="signup">Đăng ký</a>
                        </div>
                    {{/if}}
                    
                </div>
            </div>

            {{!-- Dropdown --}}
            <div class='category-menu-dropdown__padding d-none'>
                <div class='category-menu-dropdown'>
                    <div class='row'>
                        <section class='col-3 pe-1 border-end border-2'>
                            <h1 class='category-menu-dropdown__heading'>
                                Danh mục sản phẩm
                            </h1>
                            {{#each categoryTree}}
                                <a
                                    href='/category?catId={{id}}'
                                    class='category-menu-dropdown__category'
                                    data-cat-id='{{id}}'
                                >
                                    {{categoryName}}
                                </a>
                            {{/each}}
                        </section>
                        <section class='col-9 ps-3'>
                            {{#each categoryTree}}
                                <div
                                    class='category-menu-dropdown__detail {{#unless @first}}d-none{{/unless}}'
                                    data-cat-id='{{id}}'
                                >
                                    <div class='d-flex align-items-center mb-3'>
                                        <img
                                            class='category-menu-dropdown__icon'
                                            src='/assets/img/book_icon.svg'
                                            alt='Book icon'
                                        />
                                        <h1
                                            class='category-menu-dropdown__heading--2'
                                        >
                                            {{categoryName}}
                                        </h1>
                                    </div>
                                    <div class='row'>
                                        {{#each children}}
                                            <div class='col-md-3'>
                                                <a
                                                    href='/category?catId={{id}}'
                                                    class='category-menu-dropdown__heading--sub'
                                                >
                                                    {{categoryName}}
                                                </a>
                                                {{#each children}}
                                                    <a
                                                        href='/category?catId={{id}}'
                                                        class='category-menu-dropdown__category--sub'
                                                    >
                                                        {{categoryName}}
                                                    </a>
                                                {{/each}}
                                                <a
                                                    class='category-menu-dropdown__category--sub-all'
                                                    href='/category?catId={{id}}'
                                                >
                                                    Xem tất cả
                                                </a>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/each}}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel='stylesheet' href='/assets/css/navbar.css' />
<script src="/assets/js/navbar.js"></script>