{{! Bottom sidebar }}
<div
    class='bottom-sidebar-content'
    data-username='{{username}}'
    data-final-total='{{finalTotalNumber}}'
    data-bank-url='{{bankUrl}}'
>
    <div class='container'>
        {{! Total }}
        <div class='checkout-total'>
            <div class='checkout-total__subtotal'>
                <div class='checkout-total__subtotal__label'>Thành tiền</div>
                <div class='checkout-total__subtotal__amount'>
                    {{cartTotal}}
                    VNĐ
                </div>
            </div>
            <div
                class='checkout-total__shipping'
                data-shipping-fee='{{shippingFeeNumber}}'
            >
                <div class='checkout-total__shipping__label'>
                    Phí vận chuyển (Giao hàng tiêu chuẩn)
                </div>
                <div class='checkout-total__shipping__amount'>
                    {{shippingFee}}
                    VNĐ
                </div>
            </div>
            <div class='checkout-total__final-total'>
                <div class='checkout-total__final-total__label'>
                    Tổng Số Tiền (gồm VAT)
                </div>
                <div class='checkout-total__final-total__amount'>
                    {{finalTotal}}
                    VNĐ
                </div>
            </div>
        </div>

        {{! Bottom }}
        <div class='checkout-bottom'>
            <a href='/cart' class='return-cart-btn'>
                <svg
                    xmlns='http://www.w3.org/2000/svg'
                    height='16'
                    width='10'
                    viewBox='0 0 320 512'
                >
                    <path
                        fill='currentColor'
                        d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'
                    />
                </svg>
                <span>Quay về giỏ hàng</span>
            </a>

            {{! Submit button }}
            {{#if hasChosenAnAddr}}
                <button class='confirm-checkout-btn active'>
                    Xác nhận thanh toán
                </button>
            {{else}}
                <button disabled class='confirm-checkout-btn'>
                    Xác nhận thanh toán
                </button>
            {{/if}}
        </div>
    </div>
</div>

{{! Main content }}
<div class='container mt-3 main-content'>
    {{! Address list }}
    <div class='checkout-block'>
        <h2 class='checkout-block__title'>
            ĐỊA CHỈ GIAO HÀNG
        </h2>
        <div class='checkout-block__content'>
            {{! Shipping addresses list }}
            <ul
                id='shippingAddressesList'
                data-cart-total='{{cartTotalNumber}}'
            >
                {{#each shippingAddresses}}
                    <li>
                        <label class='addr-radio' for='{{addrId}}'>
                            {{detailedInfo}}
                            <input
                                hidden
                                type='radio'
                                name='addrId'
                                id='{{addrId}}'
                                value='{{coordinates}}'
                                {{!-- {{#if isDefault}}checked{{/if}} --}}
                            />
                            <span class='radio-mark'></span>
                        </label>
                    </li>
                {{/each}}
            </ul>

            {{! Add address button }}
            <button class='add-addr-btn'>
                <svg
                    class='add-addr-btn__img'
                    xmlns='http://www.w3.org/2000/svg'
                    width='26'
                    height='26'
                    viewBox='0 0 26 26'
                >
                    <g id='ico_add' transform='translate(-1 -1)'>
                        <circle
                            id='Ellipse_26'
                            data-name='Ellipse 26'
                            cx='12'
                            cy='12'
                            r='12'
                            transform='translate(2 2)'
                            fill='none'
                            stroke='currentColor'
                            stroke-linecap='round'
                            stroke-linejoin='round'
                            stroke-width='2'
                        />
                        <line
                            id='Line_64'
                            data-name='Line 64'
                            y2='9.6'
                            transform='translate(14 9.2)'
                            fill='none'
                            stroke='currentColor'
                            stroke-linecap='round'
                            stroke-linejoin='round'
                            stroke-width='2'
                        />
                        <line
                            id='Line_65'
                            data-name='Line 65'
                            x2='9.6'
                            transform='translate(9.2 14)'
                            fill='none'
                            stroke='currentColor'
                            stroke-linecap='round'
                            stroke-linejoin='round'
                            stroke-width='2'
                        />
                    </g>
                </svg>
                <span>Giao hàng đến địa chỉ khác</span>
            </button>
        </div>
    </div>

    {{! Shipping info }}
    <div class='checkout-block'>
        <h2 class='checkout-block__title'>
            Phương thức vận chuyển
        </h2>
        <div class='checkout-block__content'>
            <label class='addr-radio' for='shipping'>
                <div>
                    <div class='fw-bold'>
                        Giao hàng tiêu chuẩn:
                        <span class='shipping-info__fee'>{{shippingFee}}</span>
                        VNĐ
                    </div>
                    <div class='text-capitalize shipping-info__date'>
                        {{deliveryDate}}
                    </div>
                </div>
                <input
                    hidden
                    type='radio'
                    name='shipping'
                    id='shipping'
                    value='shipping'
                    checked
                />
                <span class='radio-mark'></span>
            </label>
        </div>
    </div>

    {{! Payment info }}
    <div class='checkout-block'>
        <h2 class='checkout-block__title'>
            PHƯƠNG THỨC THANH TOÁN
        </h2>
        <div class='checkout-block__content'>
            <ul>
                <li>
                    <label class='addr-radio' for='payment'>
                        <div>
                            Thanh toán bằng tài khoản ngân hàng
                        </div>
                        <input
                            hidden
                            type='radio'
                            name='payment'
                            id='payment'
                            value='payment'
                            checked
                        />
                        <span class='radio-mark'></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    {{! Products info }}
    <div class='checkout-block'>
        <h2 class='checkout-block__title'>
            KIỂM TRA LẠI ĐƠN HÀNG
        </h2>
        <div class='checkout-block__content'>
            <ul>
                {{#each selectedProducts}}
                    <li class='product-item'>
                        <img class='product-item__img' src='{{image}}' alt='' />
                        <span class='ps-2 pe-3'>{{bookName}}</span>
                        <div>
                            <div>{{discountedPrice}} VNĐ</div>
                            <div class='product-item__price--original'>
                                {{originalPrice}}
                                VNĐ
                            </div>
                        </div>
                        <span>{{quantity}}</span>
                        <span class='product-item__price--final'>
                            {{cartPrice}}
                            VNĐ
                        </span>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

{{! Add address popup }}
<div class='popup-section d-none'>
    <div class='address-popup'>
        <h1 class='address-popup__title'>THÊM MỚI ĐỊA CHỈ GIAO HÀNG</h1>

        {{! Full name }}
        <div class='address-popup__line'>
            <label for='addrFullName' class='address-popup__line__label'>
                Họ và tên người nhận
            </label>
            <input
                id='addrFullName'
                type='text'
                class='address-popup__line__input'
                placeholder='Nhập họ và tên người nhận'
            />
            <p class='form-error d-none'></p>
        </div>

        {{! Phone number }}
        <div class='address-popup__line'>
            <label for='addrPhoneNumber' class='address-popup__line__label'>
                Số điện thoại
            </label>
            <input
                id='addrPhoneNumber'
                type='text'
                class='address-popup__line__input'
                placeholder='Ví dụ: 0979123xxx (10 ký tự số)'
            />
            <p class='form-error d-none'></p>
        </div>

        {{! Province }}
        <div class='address-popup__line'>
            <label for='addrProvince' class='address-popup__line__label'>
                Tỉnh/Thành Phố
            </label>
            <select
                id='addrProvince'
                class='form-select address-popup__line__select'
                aria-label='Default select example'
            >
                <option disabled selected hidden value=''>Chọn tỉnh/thành phố</option>
                {{#each provinces}}
                    <option value='{{provId}}'>{{provName}}</option>
                {{/each}}
            </select>
            <p class='form-error d-none'></p>
        </div>

        {{! District }}
        <div class='address-popup__line'>
            <label for='addrDistrict' class='address-popup__line__label'>
                Quận/Huyện
            </label>
            <select
                id='addrDistrict'
                class='form-select address-popup__line__select'
                aria-label='Default select example'
                disabled
            >
                <option selected>Chọn quận/huyện</option>
            </select>
            <p class='form-error d-none'></p>
        </div>

        {{! Ward }}
        <div class='address-popup__line'>
            <label for='addrWard' class='address-popup__line__label'>
                Phường/Xã
            </label>
            <select
                id='addrWard'
                class='form-select address-popup__line__select'
                aria-label='Default select example'
                disabled
            >
                <option selected>Chọn phường/xã</option>
            </select>
            <p class='form-error d-none'></p>
        </div>

        {{! Address }}
        <div class='address-popup__line'>
            <label for='address' class='address-popup__line__label'>
                Địa chỉ nhận hàng
            </label>
            <input
                id='address'
                type='text'
                class='address-popup__line__input'
                placeholder='Nhập địa chỉ nhận hàng'
            />
            <p class='form-error d-none'></p>
        </div>

        <div class='address-popup__btn-box'>
            <button class='address-popup__btn--submit'>Lưu địa chỉ</button>
            <button class='address-popup__btn--close'>Hủy</button>
        </div>
    </div>

    <div class='background-behind'></div>
</div>

<link rel='stylesheet' href='/assets/css/checkout.css' />
<script src='/assets/js/checkout.js'></script>