<div class='container'>
    <section class='section mt-3'>
        <div class='header-area'>
            <h1 class='section__header'>Biến động số dư</h1>
        </div>

        <table class='balance-table'>
            <colgroup>
                <col class='balance-table__col--first' />
                <col class='balance-table__col--second' />
                <col class='balance-table__col--third' />
            </colgroup>
            <thead class='transaction-table__header'>
                <tr>
                    <th>Thời gian</th>
                    <th>Nội dung</th>
                    <th>Số tiền</th>
                    <th>Số dư</th>
                </tr>
            </thead>
            <tbody>
                {{#each transactions}}
                    <tr valign='middle'>
                        <th>
                            <span
                                class='transaction__link'
                            >{{changedTime}}</span>
                        </th>
                        <td>
                            <p class='bold'>{{changedReason}}</p>
                        </td>
                        <td>
                            <p class='bold'>
                                {{changedType}}{{changedMoney}}
                                VNĐ
                            </p>
                        </td>
                        <td>
                            <p class='bold'>
                                {{balance}}
                                VNĐ
                            </p>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</div>