<div class="text-center pb-3" style="background-color: #eae7dc">
    <div class='container text-center'>
        <nav aria-label='breadcrumb' style="--bs-breadcrumb-divider: '>'">
            <ol class='breadcrumb'>
                {{breadcrumb book.category}}
            </ol>
        </nav>
    </div>
    <div class='container text-centerborder border border-success rounded' style='background-color: FFFFFF'>
        <div class='row gx-5'>
            <aside class='col-lg-6'>
                <div class='border rounded-4 mb-3 mt-3 d-flex justify-content-center'>
                    <a data-fslightbox='mygalley' class='rounded-4' target='_blank' data-type='image'
                        id='mainImageLink'>
                        <img style='
                                        max-width: 100%;
                                        max-height: 100vh;
                                        margin: auto;
                                    ' id='mainImage' class='rounded-4 fit' src="{{mainImage book.images}}" />
                    </a>
                </div>
                <div class='d-flex justify-content-center mb-3'>
                    {{#each book.images}}
                    <a data-fslightbox='mygallery' class='border mx-1 rounded-2' target='_blank' data-type='image'
                        class='item-thumb'>
                        <img width='60' height='60' class='rounded-2 small-image' src='{{this.path}}' />
                    </a>
                    {{/each}}
                </div>
                <a href='#' class='btn btn-outline-danger border border-4 border-danger shadow-0 fw-bold mb-3'>
                    <i class='me-1 fa-solid fa-cart-plus'></i>
                    Thêm vào giỏ hàng
                </a>
                <a href='#' class='btn btn-danger border border-4 border-danger fw-bold shadow-0 mb-3'>
                    Mua ngay
                </a>
            </aside>
            <main class='col-lg-6'>
                <div class='ps-lg-3 mt-3'>
                    <h3 class='title text-dark fw-bold'>
                        {{book.bookName}}
                    </h3>
                    <div class='row mt-4'>
                        <dd class='col-3'>Tác giả:</dd>
                        <dt class='col-3'>{{book.author}}</dt>
                    </div>
                    <div class='row'>
                        <dd class='col-3'>Nhà xuất bản:</dd>
                        <dt class='col-3'>{{book.publisher}}</dt>
                    </div>
                    <div class='d-flex flex-row my-3'>
                        <div class='text-warning mb-1 me-2'>
                            {{rating book.avgRating}}
                            <span class='ms-1'> {{book.avgRating}} </span>
                        </div>
                        <span class='text text-warning'>({{book.countRating}} đánh giá)</span>
                    </div>
                    <div class='mb-3'>
                        <span class='h5 text-danger'>{{book.discountedPrice}}đ</span>
                        <span class='text-muted text-decoration-line-through'>{{book.originalPrice}}đ</span>
                        <span class='btn btn-danger'>-{{book.discountedNumber}}%</span>
                    </div>

                    <div class='form-group row mb-3'>
                        <label for='numberInput' class='col-sm-2 col-form-label form-label mb-3'>Số lượng:</label>
                        <div class='col-sm-10 mb-3'>
                            <div class='input-group' style='width: 150px'>
                                <button class='btn btn-outline-secondary' id='decrementBtn'>
                                    <i class='fa-solid fa-minus'></i>
                                </button>
                                <input type='text' class='form-control text-center' id='numberInput' value='0' />
                                <button class='btn btn-outline-secondary' id='incrementBtn'>
                                    <i class='fa-solid fa-plus'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class='container mt-3 border border-success rounded text-start' style='background-color: FFFFFF'>
        <h5 class='mt-2'>Thông tin sản phẩm</h5>
        <div class='row'>
            <dd class='col-2 text-muted'>Tác giả:</dd>
            <dt class='col'>{{book.author}}</dt>
        </div>
        <div class='row'>
            <dd class='col-2 text-muted'>NXB:</dd>
            <dt class='col'>{{book.publisher}}</dt>
        </div>
        <div class='row'>
            <dd class='col-2 text-muted'>Năm XB</dd>
            <dt class='col'>{{book.publishedYear}}</dt>
        </div>
        <div class='row'>
            <dd class='col-2 text-muted'>Trọng lượng (gr):</dd>
            <dt class='col'>{{book.weight}}</dt>
        </div>
        <div class='row'>
            <dd class='col-2 text-muted'>Kích thước bao bì</dd>
            <dt class='col'>{{book.dimensions}}</dt>
        </div>
        <div class='row'>
            <dd class='col-2 text-muted'>Số trang:</dd>
            <dt class='col'>{{book.numberPage}}</dt>
        </div>
        <div class='row'>
            <dd class='col-2 text-muted'>Hình thức</dd>
            <dt class='col'>{{book.bookFormat}}</dt>
        </div>
        <hr />
        <p>
            {{book.description}}
        </p>
    </div>
    <div class='container mt-3 border border-success rounded text-start' style='background-color: FFFFFF'>
        <h5 class='mt-2'>Đánh giá sản phẩm</h5>
        <div class='container bg-warning-subtle border border-warning rounded'>
            <p class='fw-bold mb-0' style='color: #ff550d; font-size: 40'>
                {{book.avgRating}} trên 5
            </p>
            <div class='text-warning mb-2'>
                {{rating book.avgRating}}
            </div>
            <button type='button' class='btn btn-outline-warning rating-btn mb-3'>
                Tất cả(0)
            </button>
            <button type='button' class='btn btn-outline-dark rating-btn mb-3'>
                5 sao(0)
            </button>
            <button type='button' class='btn btn-outline-dark rating-btn mb-3'>
                4 sao(0)
            </button>
            <button type='button' class='btn btn-outline-dark rating-btn mb-3'>
                3 sao(0)
            </button>
            <button type='button' class='btn btn-outline-dark rating-btn mb-3'>
                2 sao(0)
            </button>
            <button type='button' class='btn btn-outline-dark rating-btn mb-3'>
                1 sao(0)
            </button>
        </div>
        <h6 class='mb-0 mt-2'>name</h6>
        <div class='text-warning m-0' style='font-size: 10px'>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
        </div>
        <span class='text text-muted mt-0 mb-2' style='font-size: 15px'>2023-10-11</span>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
            reprehenderit debitis in delectus? Ducimus repellendus facilis suscipit
            voluptate, quaerat magnam ipsa libero doloribus iste odio enim mollitia
            aperiam nulla obcaecati!
        </p>
        <hr />
    </div>
</div>
<script>
    $(".small-image").on("click", function () {

        var newSrc = $(this).attr("src");

        $("#mainImage").attr("src", newSrc);
    });
    $("#numberInput").focusout(function () {
        if (isNaN(parseInt($("#numberInput").val()))) {
            $("#numberInput").val("0");
        }
    });
    $("#incrementBtn").on("click", function () {
        var val = $("#numberInput").val();
        $("#numberInput").val(parseInt(val) + 1);
    });
    $("#decrementBtn").on("click", function () {
        var val = parseInt($("#numberInput").val());
        val = val - 1 < 0 ? 0 : val - 1;
        $("#numberInput").val(val);
    });
    $(".rating-btn").on("click", function () {
        $(".rating-btn").removeClass("btn-outline-warning");

        $(".rating-btn").addClass("btn-outline-dark");

        $(this).removeClass("btn-outline-dark").addClass("btn-outline-warning");
    });
    Handlebars.registerHelper('times', function (n, block) {
        let accum = block;
        for (let i = 0; i < n; ++i) {
            accum += accum;
        }
        return accum;
    });
    Handlebars.registerHelper('logMessage', function (message) {
        console.log(message);
    });

</script>