<div class='container'>
    <div class='main-page-container'>
        <div class='banner'>
            <img src='/assets/img/banner.jpg' alt='banner' />
        </div>

        <div class='categories-list-container'>
            <div class='category-header'>Danh mục</div>
            <div class='categories-list'>
                {{#each categories}}
                <a href='/category?catId={{this.id}}'>
                    <div class='category'>
                        {{this.categoryName}}
                    </div>
                </a>
                {{/each}}
            </div>
        </div>

        <div class='newest-books-container'>
            <div class='category-name'>Sách mới về</div>
            <div class='books-list'>
                {{#each newBooks}}
                <div class='book'>
                    {{#if this.discountedNumber}}
                    <div class='book-section__discounted-cell'>
                        <span class='book-section__discounted-number'>
                            -{{this.discountedNumber}}%
                        </span>
                    </div>
                    {{/if}}
                    <a href='/book/{{this.bookId}}' class='bName'><img src='{{this.image}}' alt='book_image' /></a>
                    <a href='/book/{{this.bookId}}' class='bName'>{{this.bookName}}</a>
                    <p class='orgPrice'>{{this.originalPrice}} VNĐ</p>
                    <p class='disPrice'>{{this.discountedPrice}} VNĐ</p>
                </div>
                {{/each}}
            </div>
        </div>

        {{#each cateBooks}}
        <div class='books-by-category-container'>
            <div class='category-name'>{{this.catName}}</div>
            <div class='books-list'>
                {{#each this.booksList}}
                <div class='book'>
                    {{#if this.discountedNumber}}
                    <div class='book-section__discounted-cell'>
                        <span class='book-section__discounted-number'>
                            -{{this.discountedNumber}}%
                        </span>
                    </div>
                    {{/if}}
                    <a href='/book/{{this.bookId}}' class='bName'><img src='{{this.image}}' alt='book_image' /></a>
                    <a href='/book/{{this.bookId}}' class='bName'>{{this.bookName}}</a>
                    <p class='orgPrice'>{{this.originalPrice}} VNĐ</p>
                    <p class='disPrice'>{{this.discountedPrice}} VNĐ</p>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</div>

<link rel='stylesheet' href='/assets/css/mainPage.css' />