<div class="update-book-container">
    <div class="btn-back">
        <form action="/admin/books" method="get">
            <button type="submit">
                <img src="/assets/img/back_icon.svg" alt="Back">
            </button>
        </form>
    </div>
    <div class="info-input">
        <div class="book-info">
            <div class="father-categories-dropdown">
                <div class="label">Danh mục cha:</div>
                <select name="father-category" id="fCategory" onchange="renderChild({{cateData}})">
                    {{#each fCategories}}
                    <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.categoryName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="categories-dropdown">
                <div class="label">Danh mục</div>
                <select name="category" id="category">
                    {{#each cCategories}}
                    <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.categoryName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="book-name">
                <div class="label">Tên sách:</div>
                <input type="text" name="bookName" value="{{book.BOOK_NAME}}" />
            </div>
            <div class="book-author">
                <div class="label">Tác giả:</div>
                <input type="text" name="author" value="{{book.author}}" />
            </div>
            <div class="book-publisher">
                <div class="label">Nhà xuất bản:</div>
                <input type="text" name="publisher" value="{{book.PUB_NAME}}" />
            </div>
            <div class="book-publishedYear">
                <div class="label">Năm xuất bản:</div>
                <input type="text" name="publishedYear" value="{{book.PUBLISHED_YEAR}}" />
            </div>
            <div class="book-weight">
                <div class="label">Trọng lượng:</div>
                <input type="text" name="weight" value="{{book.BOOK_WEIGHT}}" />
            </div>
            <div class="book-dimensions">
                <div class="label">Kích thước bao bì:</div>
                <input type="text" name="dimensions" value="{{book.DIMENSIONS}}" />
            </div>
            <div class="book-numberPage">
                <div class="label">Số trang:</div>
                <input type="text" name="numberPage" value="{{book.NUMBER_PAGE}}" />
            </div>
            <div class="book-bookFormat">
                <div class="label">Hình thức:</div>
                <input type="text" name="bookFormat" value="{{book.BOOK_FORMAT}}" />
            </div>
            <div class="book-discountedNumber">
                <div class="label">Giảm giá:</div>
                <input type="text" name="discountedNumber" value="{{book.DISCOUNTED_NUMBER}}" />
            </div>
            <div class="book-originalPrice">
                <div class="label">Giá trước giảm:</div>
                <input type="text" name="originalPrice" value="{{book.BOOK_PRICE}}" />
            </div>
            <div class="book-discountedPrice">
                <div class="label">Giá sau giảm:</div>
                <input type="text" name="discountedPrice" value="{{book.BOOK_DISCOUNTED_PRICE}}" />
            </div>
            <div class="book-image">
                <div class="image-submit">
                    <div class="label">Ảnh:</div>
                    <label for="files">Browse</label>
                    <input type="file" id="files" name="files" multiple="">
                </div>
                <div class="book-image-display">
                    {{#each images}}
                    <div class="image">
                        <img src="{{this.BOOK_PATH}}" alt="book image">
                        <button type="button">X</button>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="book-description">
                <textarea name="description" id="description" cols="30" rows="10">{{book.BOOK_DESC}}</textarea>
            </div>
        </div>
        <button class="btn-submit-update" type="button">Cập nhật</button>
    </div>
</div>

<link rel="stylesheet" href="/assets/css/createBook.css">
<script src="/assets/js/bookAdmin.js"></script>