<div class='container mb-3'>
    <div class='text-start row gx-3' style='background-color: #eae7dc'>
        <div class='col-3'>
            <div class='card mt-3 border border-success rounded'>
                <div class='card-header fw-bold text-danger fs-4'>
                    Tài khoản
                </div>
                <ul class='list-group list-group-flush'>
                    <li class='list-group-item'>
                        <a
                            href='/user/me'
                            style='text-decoration: none; color: black'
                        >
                            Thông tin tài khoản
                        </a>
                    </li>
                    <li class='list-group-item'>
                        <a
                            href='/shippingAddress'
                            style='text-decoration: none; color: black'
                        >Sổ địa chỉ</a>
                    </li>
                    <li class='list-group-item'>
                        <a
                            href='/order/me'
                            style='text-decoration: none; color: #ff550d'
                        >Đơn hàng của tôi</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class='col-9'>
            <div
                class='px-3 mt-3 border border-success rounded text-start'
                style='background-color: FFFFFF'
            >
                <h4 class='mt-2 mb-3'>ĐƠN HÀNG CỦA TÔI</h4>
                <div class='ms-0 d-flex text-center'>
                    {{#each orderNumber}}
                        <div
                            class='position-relative mb-3 {{#eq orderstate ../orderState}}border border-3 border-danger{{/eq}}'
                            style='width: 150px'
                        >
                            <a
                                href='/order/me?orderState={{orderstate}}'
                                class='fw-bold button'
                                style='text-decoration: none; color: black'
                            >
                                <span>
                                    {{totalNumber}}
                                    <br />
                                    {{orderState orderstate}}
                                </span>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class='order-section'>
                <div class='order-list'>
                    {{#each orders}}
                        <div class='order-item'>
                            <div>{{orderDate}}</div>
                            <div class='order-item__state'>
                                {{createOrderStateLabel orderState}}
                            </div>

                            <div class='order-item__info'>
                                <div>
                                    <strong>Mã đơn hàng:</strong>
                                    <a href='/order/{{orderId}}'>{{orderId}}</a>
                                </div>
                                <div>
                                    <strong>Tên người nhận:</strong>
                                    {{receiverName}}
                                </div>
                                <div>
                                    <strong>Hình thức thanh toán:</strong>
                                    Thanh toán bằng Fabank
                                </div>
                                <div>
                                    <strong>Số điện thoại:</strong>
                                    {{receiverPhone}}
                                </div>
                            </div>

                            <div class='order-item__book-section'>
                                {{#each books}}
                                    <div class='order-item__book'>
                                        <img
                                            class='order-item__book__img'
                                            src='{{img}}'
                                            alt='{{bookId}}'
                                        />
                                        <div class='order-item__book__info'>
                                            <h2>{{bookName}}</h2>
                                            <span>
                                                <svg
                                                    xmlns='http://www.w3.org/2000/svg'
                                                    height='16'
                                                    width='12'
                                                    viewBox='0 0 384 512'
                                                >
                                                    <path
                                                        opacity='1'
                                                        fill='currentColor'
                                                        d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'
                                                    />
                                                </svg>
                                                {{amount}}
                                            </span>
                                        </div>
                                        <div
                                            class='d-flex align-items-center justify-content-end'
                                        >
                                            <div
                                                class='order-item__book__price'
                                            >
                                                {{unitPrice}}
                                                VNĐ
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>

                            <div class='order-item__price-section'>
                                <div>Phí vận chuyển (Giao hàng tiêu chuẩn)</div>
                                <div>{{shippingFeeString}} VNĐ</div>
                                <div>Tổng Số Tiền (gồm VAT)</div>
                                <div>{{totalPaymentString}} VNĐ</div>
                            </div>

                            {{#if ../showButton}}
                                <div
                                    class='order-item__button-section'
                                    data-username='{{username}}'
                                    data-total-payment='{{totalPayment}}'
                                    data-bank-url="{{../bankUrl}}"
                                >  
                                    {{#eq ../orderState 1}}
                                        <button
                                            class='order-item__button--cancel'
                                        >Hủy đơn hàng</button>
                                    {{/eq}}
                                    
                                    {{#eq ../orderState 2}}
                                        <button
                                            class='order-item__button--accept'
                                        >
                                            Đã nhận hàng
                                        </button>
                                    {{/eq}}
                                </div>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
                {{> pagination}}
            </div>
        </div>
    </div>
</div>

<link rel='stylesheet' href='/assets/css/orderAdmin.css' />
<script src='/assets/js/orderUser.js'></script>