<div class="container p-0 mb-3">
    <div class='text-start px-4 row' style='background-color: #eae7dc'>
        <div class='card col-2 mt-3 border border-success rounded h-100'>
            <div class='card-header fw-bold text-danger fs-4'>
                Tài khoản
            </div>
            <ul class='list-group list-group-flush'>
                <li class='list-group-item'>
                    <a href='/user/me' style='text-decoration: none; color: black'>
                        Thông tin tài khoản
                    </a>
                </li>
                <li class='list-group-item'>
                    <a href='/shippingAddress' style='text-decoration: none; color: black'>Sổ địa
                        chỉ</a>
                </li>
                <li class='list-group-item'>
                    <a href='/order/me' style='text-decoration: none; color: #ff550d'>Đơn
                        hàng của tôi</a>
                </li>
            </ul>
        </div>
        <div class='col-10 '>
            <div class='container mt-3 border border-success rounded text-start' style='background-color: FFFFFF'>
                <h4 class='mt-2 mb-3'>ĐƠN HÀNG CỦA TÔI</h4>
                <div class='containter ms-0 row text-center'>
                    {{#each orderNumber}}
                    <div class='position-relative mb-3 {{#eq orderstate ../orderState}}border border-3 border-danger{{/eq}}status'  
                        style='width: 150px'>
                        <a href='/order/me?orderState={{orderstate}}' class='fw-bold button'
                            style='text-decoration: none; color: black'><span>{{totalNumber}}
                                <br />
                                {{orderState orderstate}}</span>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class='container border border-success rounded text-start mb-3'
                style='background-color: FFFFFF; margin-top:12px'>
                <table class='table table-striped table-hover text-center'>
                    <thead>
                        <tr>
                            <th scope='col'>Mã đơn hàng</th>
                            <th scope='col'>Ngày mua</th>
                            <th scope='col'>Người nhận</th>
                            <th scope='col'>Tổng Tiền</th>
                            <th scope='col'>Trạng thái</th>
                            <th scope='col'></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <th scope='row'>{{orderId}}</th>
                            <td>{{orderDate}}</td>
                            <td>
                                {{fullName}}
                            </td>
                            <td>{{totalPaymentString}} VNĐ</td>
                            <td>{{orderState orderState}}</td>
                            <td>
                                <a href="/order/{{orderId}}" style="color: black">
                                    <i class='fa-solid fa-circle-info' style='cursor: pointer'></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{> pagination}}
        </div>
    </div>
</div>
<script>
</script>