<div class='container'>
    <div class='row gx-3 mt-2 mb-3'>
        {{! Sidebar }}
        <div class='col-md-3'>
            <section class='sidebar-section'>
                <h1 class='sidebar-section__title'>
                    <strong>lọc theo</strong>
                </h1>

                {{! Price }}
                <section class='sidebar-section__section'>
                    <h1 class='sidebar-section__section__title'>Giá</h1>
                    <ul class='sidebar-section__list'>
                        {{#each priceRanges}}
                            <li>
                                <label class='custom-radio' for='{{price}}'>
                                    {{title}}
                                    <input
                                        hidden
                                        type='radio'
                                        name='priceRadios'
                                        id='{{price}}'
                                        value='{{price}}'
                                        {{#eq price ../priceRange}}checked{{/eq}}
                                    />
                                    <span class='radio-mark'>
                                        <span
                                            class='glory-circle d-none'
                                        ></span>
                                    </span>
                                </label>
                            </li>
                        {{/each}}
                    </ul>
                </section>

                {{! Publisher }}
                <section class='sidebar-section__section'>
                    <h1 class='sidebar-section__section__title'>Nhà xuất bản</h1>
                    <ul class='sidebar-section__list'>
                        {{#each publisher}}
                            <li>
                                <label class='custom-radio' for='pub-{{pubId}}'>
                                    {{pubName}}
                                    <input
                                        hidden
                                        type='radio'
                                        name='pubRadios'
                                        id='pub-{{pubId}}'
                                        value='{{pubId}}'
                                        {{#eq pubId ../chosenPubId}}checked{{/eq}}
                                    />
                                    <span class='radio-mark'>
                                        <span
                                            class='glory-circle d-none'
                                        ></span>
                                    </span>
                                </label>
                            </li>
                        {{/each}}
                    </ul>
                </section>
            </section>
        </div>

        {{! Books }}
        <div class='col-md-9'>
            <div class='book-section'>
                {{! Keyword }}
                <div class='page-title-search'>
                    <h1>Kết quả tìm kiếm:</h1>
                    <p class='search-term-text'>{{searchText}}</p>
                </div>

                {{! Sort section }}
                <div
                    class='d-flex mt-3 pb-3'
                >
                    {{! Sort }}
                    <div class='d-flex align-items-center'>
                        <span class='text-nowrap'>Sắp xếp:</span>
                        <select
                            id='sortAttr'
                            name='sortAttr'
                            class='form-select select-dropdown'
                        >
                            {{#each sortList}}
                                <option
                                    {{#eq value ../sortType}}selected{{/eq}}
                                    value='{{value}}'
                                >
                                    {{title}}
                                </option>
                            {{/each}}
                        </select>
                    </div>

                    {{! Limit }}
                    <div class='ms-4 d-flex align-items-center'>
                        <span class='text-nowrap'>Số lượng:</span>
                        <select
                            id=''
                            name='limit'
                            class='form-select select-dropdown'
                            aria-label='Default select example'
                        >
                            {{#each limitList}}
                                <option
                                    {{#eq value ../limit}}selected{{/eq}}
                                    value='{{value}}'
                                >
                                    {{value}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                {{! Book list }}
                <ul class='p-1 mb-0 book-section__list'>
                    {{#each books}}
                        <li class='book-inner'>
                            {{! Discounted cell }}
                            {{#if discountedNumber}}
                                <div class='book-section__discounted-cell'>
                                    <span
                                        class='book-section__discounted-number'
                                    >
                                        -{{discountedNumber}}%
                                    </span>
                                </div>
                            {{/if}}

                            {{! Main book content }}
                            <div class='book-content'>
                                {{! Image }}
                                <div class='mb-2 book-content__img-container'>
                                    <a href='/book/{{bookId}}'>
                                        <img
                                            class='book-content__img'
                                            src='{{image}}'
                                            alt=''
                                        />
                                    </a>
                                </div>

                                {{! Book name }}
                                <h2>
                                    <a
                                        class='book-content__heading-link line-clamb'
                                        href='/book/{{bookId}}'
                                    >
                                        {{bookName}}
                                    </a>
                                </h2>

                                {{! Price }}
                                <div class='book-content__price-box'>
                                    <p class='book-content__price--discounted'>
                                        {{discountedPrice}}
                                        VNĐ
                                    </p>
                                    <p class='book-content__price--original'>
                                        {{originalPrice}}
                                        VNĐ
                                    </p>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>

                {{! Pagination }}
                {{> pagination}}
            </div>
        </div>
    </div>
</div>

<link rel='stylesheet' href='/assets/css/search.css' />
<script src='/assets/js/search.js'></script>