<div class='container'>
    {{! Breadcrumb }}
    <nav
        class='my-2'
        style="--bs-breadcrumb-divider: '>';"
        aria-label='breadcrumb'
    >
        <ol class='breadcrumb mb-0'>
            <li class='breadcrumb-item'>
                <a class='category-page__breadcrumb' href='/mainPage'>
                    Home
                </a>
            </li>
            {{#each stringifiedBranch}}
                {{#if @last}}
                    <li class='breadcrumb-item active' aria-current='page'>
                        <span class='category-page__breadcrumb'>
                            {{categoryName}}
                        </span>
                    </li>
                {{else}}
                    <li class='breadcrumb-item' aria-current='page'>
                        <a
                            class='category-page__breadcrumb'
                            href='/category?catId={{catId}}'
                        >
                            {{categoryName}}
                        </a>
                    </li>
                {{/if}}
            {{/each}}
        </ol>
    </nav>

    {{! Content }}
    <div class='row gx-3 mb-3'>
        {{! Sidebar }}
        <div class='col-md-3'>
            <div class='sidebar-section'>
                {{! Category }}
                <section class='category-section'>
                    <h1 class='category-section__heading'>Nhóm sản phẩm</h1>
                    {{#createCategoryTree
                        catId selectedBranch
                    }}{{/createCategoryTree}}
                </section>

                {{! Price }}
                <section class='price-section'>
                    <h1 class='category-section__heading'>Giá</h1>
                    <div class='price-section__list'>
                        <div class='form-check'>
                            <input
                                class='form-check-input'
                                type='radio'
                                name='priceRadios'
                                id='priceAll'
                                value='all'
                                {{#eq 'all' priceRange}}
                                    checked
                                {{/eq}}
                            />
                            <label class='form-check-label' for='priceAll'>
                                Tất cả
                            </label>
                        </div>
                        {{#each priceRanges}}
                            <div class='form-check'>
                                <input
                                    class='form-check-input'
                                    type='radio'
                                    name='priceRadios'
                                    id='{{price}}'
                                    value='{{price}}'
                                    {{#eq price ../priceRange}}
                                        checked
                                    {{/eq}}
                                />
                                <label class='form-check-label' for='{{price}}'>
                                    {{title}}
                                </label>
                            </div>
                        {{/each}}
                    </div>
                </section>

                {{! Publisher }}
                <section class='publisher-section'>
                    <h1 class='category-section__heading'>Nhà xuất bản</h1>
                    <div class='publisher-section__list'>
                        <div class='form-check'>
                            <input
                                class='form-check-input'
                                type='radio'
                                name='pubRadios'
                                id='pubAll'
                                value='all'
                                {{#eq 'all' chosenPubId}}
                                    checked
                                {{/eq}}
                            />
                            <label class='form-check-label' for='pubAll'>
                                Tất cả
                            </label>
                        </div>

                        {{#each publisher}}
                            <div class='form-check'>
                                <input
                                    class='form-check-input'
                                    type='radio'
                                    name='pubRadios'
                                    id='{{pubId}}'
                                    value='{{pubId}}'
                                    {{#eq pubId ../chosenPubId}}
                                        checked
                                    {{/eq}}
                                />
                                <label class='form-check-label' for='{{pubId}}'>
                                    {{pubName}}
                                </label>
                            </div>
                        {{/each}}
                    </div>
                </section>
            </div>
        </div>

        {{! Books }}
        <div class='col-md-9'>
            <div class='book-section'>
                {{! Sort section }}
                <div
                    class='d-flex mt-2 pb-3 border-bottom border-dark border-1'
                >
                    {{! Sort }}
                    <div class='d-flex align-items-center'>
                        <span class='text-nowrap'>Sắp xếp:</span>
                        <select
                            id='sortAttr'
                            name='sortAttr'
                            class='form-select select-dropdown'
                        >
                            {{#each sortList }}
                                <option
                                    {{#eq value ../sortType}}selected{{/eq}} 
                                    value='{{value}}'
                                >
                                    {{title}}
                                </option>
                            {{/each}}
                        </select>
                    </div>

                    {{! Limit }}
                    <div class='ms-4 d-flex align-items-center'>
                        <span class='text-nowrap'>Số lượng:</span>
                        <select
                            id=''
                            name='limit'
                            class='form-select select-dropdown'
                            aria-label='Default select example'
                        >
                            {{#each limitList }}
                                <option
                                    {{#eq value ../limit}}selected{{/eq}} 
                                    value='{{value}}'
                                >
                                    {{value}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <ul class='p-1 mb-0 book-section__list'>
                    {{#each books}}
                        <li class='book-inner'>
                            {{!-- Discounted cell --}}
                            {{#if discountedNumber}}
                                <div class="book-section__discounted-cell">
                                    <span class="book-section__discounted-number">
                                        -{{discountedNumber}}%
                                    </span>
                                </div>
                            {{/if}}
                            
                            {{!-- Main book content --}}
                            <div class='book-content'>
                                {{! Image }}
                                <div class='mb-2 book-content__img-container'>
                                    <a href='/books/{{bookId}}'>
                                        <img
                                            class='book-content__img'
                                            src='{{image}}'
                                            alt=''
                                        />
                                    </a>
                                </div>

                                {{! Book name }}
                                <h2>
                                    <a
                                        class='book-content__heading-link line-clamb'
                                        href='/books/{{bookId}}'
                                    >
                                        {{bookName}}
                                    </a>
                                </h2>

                                {{! Price }}
                                <div class='book-content__price-box'>
                                    <p class='book-content__price--discounted'>
                                        {{discountedPrice}}
                                        VNĐ
                                    </p>
                                    <p class='book-content__price--original'>
                                        {{originalPrice}}
                                        VNĐ
                                    </p>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>

                {{!-- Pagination --}}
                {{> pagination}}
            </div>
        </div>
    </div>
</div>

<link rel='stylesheet' href='/assets/css/categoryPage.css' />
<script src="/assets/js/categoryPage.js"></script>